*{
	box-sizing: border-box;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
	font-family: Georgia, serif;
}

/**, *:before, *:after{
	box-sizing: inherit;
}*/



/*IMAGES*/


#logoimage{
	text-align: center;
}

#image{
	width: 100%;
	margin: auto;
	display: block;
	padding-bottom: 20px;

}

#imageCol{
	width: 70%;
	margin: 0 auto;
	display: block;
}

/*SECTIONS*/

.logo{
	position: absolute;
	bottom:2px;
	left: 35%;
}

p {
	text-align: left;
	margin: 0 auto;
	padding: 30px;
}

.banner{
	height:150px;
	position: relative;
	text-align: center;
	left: 0;
}

.pageContainer {
	max-width: 1000px;
	margin: 0 auto;
}

/*COLOURS*/

.purple {	
	background-color: #9b59b6;
}

.orange {
	background-color: #e67e22;
}

.green {
	background-color: #27ae60;
}

.red {
	background-color: #c0392b;
}

.blue {
	background-color: #227093;
}

.gray {
	background-color: #aaa69d;
}

.yellow {
	background-color: #ffd32a;
}

.pink {
	background-color: #ef5777;
}

.cyan {
	background-color: #4bcffa;
}

.black {
	background-color: #1e272e;
}

.lilac {
	background-color: #9c88ff;
}

.navy {
	background-color: #192a56;
}

/*COL*/

.col {
	min-height: 100px;
	float: left;
}

.col12{
	width: 100%;
}

.col11{
	width: 91.66%;
}

.col10{
	width: 83.33%;
}

.col9{
	width: 75%;
}

.col8{
	width: 66.66%;
}

.col7{
	width: 58.33%;
}

.col6{
	width: 50%;
}

.col5{
	width: 41.66%;
}

.col4{
	width: 33.33%;
}

.col3{
	width: 25%;
}

.col2{
	width: 16.67%;
}

.col1{
	width: 8.33%;
}

/*ROW*/

.row:after {
	clear: both;
	display: block;
	content: '';
}

/*Working on percentages is important for responsive design*/


/*NAVIGATON*/

.navigation{
    width: 100%;
    padding: 3px;
    height: 30px;
    background-color: black;
}

.navigation ul{
    list-style: none;
}

/*.navigation ul:after{
    display: block;
    content: '';
    clear: both;
}*/

.navigation ul li{
    float: left;
    width: 30%;
    text-align: center;
}

.navigation ul li a{
    color: white;
}

/*POSITIONING*/

.static{
/*Static is the default and will just stack*/
	position: static;
}

.relative{
	position: relative;
	width: 500px;
	top: -100px;
	left: 200px;
}

.fixed{
	position: fixed;
	top: 100px;
	right: 20px;
}

.relative2{
	position: relative;
}

/*RESPONSIVE DESIGN*/


/*MOBILE RESPONSIVE*/

@media screen and (min-width: 320px) {


.hideM{
/*	visibility: hidden;*/
}

.col12{
	width: 100%;
}

.col11{
	width: 91.66%;
}

.col10{
	width: 83.33%;
}

.col9{
	width: 75%;
}

.col8{
	width: 66.66%;
}

.col7{
	width: 58.33%;
}

.col6{
	width: 50%;
}

.col5{
	width: 41.66%;
}

.col4{
	width: 33.33%;
}

.col3{
	width: 25%;
}

.col2{
	width: 16.67%;
}

.col1{
	width: 8.33%;
}


}


/*TABLET RESPONSIVE*/

@media screen and (min-width: 960px){

.hideT{
visibility: hidden;
}

.colT1{
width: 8.33%;
}

.colT2{
width: 16.67%;
}

.colT3{
width: 25%;
}

.colT4{
width: 33.33%;
}

.colT5{
width: 41.66%;
}

.colT6{
width: 50%;
}

.colT7{
width: 58.33%;
}

.colT8{
width: 66.66%;
}

.colT9{
width: 75%;
}

.colT10{
width: 83.33%;
}

.colT11{
width: 91.66%;
}

.colT12{
width: 100%;
}

}

/*DESKTOP RESPONSIVE*/

@media screen and (min-width: 992px) {

#imageCol{
	width: 100%;
}

.colD12{
width: 100%;
}

.colD11{
width: 91.66%;
}

.colD10{
width: 83.33%;
}

.colD9{
width: 75%;
}

.colD8{
width: 66.66%;
}

.colD7{
width: 58.33%;
}

.colD6{
width: 50%;
}

.colD5{
width: 41.66%;
}

.colD4{
width: 33.33%;
}

.colD3{
width: 25%;
}

.colD2{
width: 16.67%;
}

.colD1{
width: 8.33%;
}

.navigation{
   	display: inline-block;
	top: 0;
	width: 100%;
    background-color: white;
}

/*.navigation ul:after{
    display: inline-block;
    content: '';
    clear: both;
}*/

.navigation ul li{
	display: inline-block;
    float: right;
    width: 10%;
    text-align: center;
    top: 0;
    right: 0;
}

.navigation ul li a{
    color: black;
}

.logo{
	position: absolute;
	left: 0;
	padding: 15px;
}

.banner{
	display: inline-block;
	width: 50%;
	height:150px;
	position: relative;
	text-align: center;
	top: 0;
	left: 0;
}

}
